astroid==3.0.2 ; python_version >= "3.11" and python_version < "4.0"
cfgv==3.4.0 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
dill==0.3.7 ; python_version >= "3.11" and python_version < "4.0"
distlib==0.3.8 ; python_version >= "3.11" and python_version < "4.0"
filelock==3.13.1 ; python_version >= "3.11" and python_version < "4.0"
identify==2.5.33 ; python_version >= "3.11" and python_version < "4.0"
isort==5.13.2 ; python_version >= "3.11" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
nodeenv==1.8.0 ; python_version >= "3.11" and python_version < "4.0"
platformdirs==4.1.0 ; python_version >= "3.11" and python_version < "4.0"
pre-commit==3.6.0 ; python_version >= "3.11" and python_version < "4.0"
pylint==3.0.3 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "4.0"
setuptools==69.0.2 ; python_version >= "3.11" and python_version < "4.0"
tomlkit==0.12.3 ; python_version >= "3.11" and python_version < "4.0"
virtualenv==20.25.0 ; python_version >= "3.11" and python_version < "4.0"
